body {
	background-color: rgb(162, 255, 63);
	margin: 0;
	text-align: center;
}
button {
	color: rgb(255, 255, 255);
	background-color: rgb(31, 145, 27);
}
button:hover {
	background-color: rgb(24, 188, 18);
	cursor: pointer;
}
